@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  .html {
    height: 100%;
  }

  /* Root */

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;

  }

  /* header */

  .navigation {
    display: flex;
    Width: 1060px;
    margin: 0 auto;
  }

  .navigation-logo {
    width: 139px;
    margin-right: 30px;
  }

  .navigation-list {
    width: 450px;
    margin: 0;
    padding: 0;
  }

  .navigation-user {
    max-width: 300px;
    margin-left: auto;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  .navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }

  .navigation-here {
    color: #ffffff;
    font-size: 16px;
    background-color: #756257;
    text-transform: uppercase;
  }

  /* main */

  .logo {
    display: block;
    margin: 0 auto;
  }

  .main-container {
    flex-grow: 1;
  }

  .main-index {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../images/background-index.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .main-index-title {
    background-color: #ffffff;
  }

  .main-index-description {
    font-weight: 700;
  }

  .main-index-advantages {
    font-size: 22px;
    line-height: 36px;
    text-transform: none;
    color: #333333;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
  }

  .advantages-item-images-first {
    display: flex;
    width: 1200px;
    color: #ffffff;
    background-color: #83B3D3;
  }

  .advantages-item-images-second {
    display: flex;
    width: 1200px;
    flex-direction: row-reverse;
    color: #ffffff;
    background-color: #83B3D3;
  }

  .advantages-container {
    display: flex;
    justify-content: flex-start;
    width: 1200px;
  }

  .advantages-list-square {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-list-road {
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-list-tourists {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .advantages-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .advantages-options-house {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-options-food {
    background-color: #ffffff;
  }

  .advantages-options-souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-title-options {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .appointment {
    padding: 0 240px;
    width: 720px;
  }

  .appointment-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .appointment-description {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
  }

  .search-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756257;
    text-align: center;
    text-transform: uppercase;
    width: 575px;
  }

  /* catalog */

  .navigation-link-current {
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }

  /* catalog main */


  .main-inner {
    color: #000000;
    background-color: #ffffff;
  }

  .main-search {
    background-color: #83B3D3;
    background-image: url("../images/background-catalog.jpg");
    background-size: cover;
  }

  .inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
  }

  .breadcrumbs {
    color: #ffffff;
  }

  .breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
  }

  .breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
  }

  .catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
  }

  .control {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }

  .button-truth {
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
  }

  /* Сортировка */

  .sort-container {
    display: flex;
    width: 1057px;
    margin: 0 auto;
  }

  .search-result {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    width: 337px;
    margin-left: 70px;
  }

  .select-control {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-color: #ffffff;
    width: 287px;
    margin-left: 192px;
  }

  .button-visually {
    width: 160px;
    margin-left: 82px;
  }

  /* Каталог */

  .catalog-container {
    display: flex;
    flex-direction: column;
    width: 1056px;
    margin: 0 auto;
  }

  .hotels-list {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }

  .hotel-card-link {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  .hotel-card-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
  }

  .hotel-card-price {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }

  .hotel-card-info {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #756257;
  }

  .hotel-card-subscribe {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #83B3D3;
  }

  .hotel-card-subscribe-current {
    background-color: #7DB54F;
  }

  .button-show-more {
    width: 620px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #83B3D3;;
  }

  /* Пагинация */

  .pagination-container {
    display: flex;
    width: 1056px;
  }

  .pagination-show-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
  }

  .pagination {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .pagination-link {
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
  }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;
  }

  .filter-amount {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
    text-transform: none;
  }

  .subscribe-index {
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/background-footer.jpg");
    background-repeat: no-repeat;
  }

  .subscribe-index-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .subscribe-index-description {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    width: 720px;
    padding: 0 240px;
  }

  .subscribe {
    color: #000000;
    text-align: center;
  }

  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .subscribe-description {
    font-size: 22px;
    line-height: 26px;

  }

  .newsletter-button {
    color: #ffffff;
    background-color: #83B3D3;
    font-weight: 700;
    text-transform: uppercase;
    width: 200px;
  }

/* footer */

.page-footer {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  Width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 107px;
  margin-right: 61px;
}

.footer-contacts {
  width: 720px;
}

.footer-made-in {
  width: 115px;
  margin-left: auto;
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  visibility: hidden;
}