@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

/* Root */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  width: 139px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 0 0 169px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item:last-child {
  margin-left: 22px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-user {
  position: relative;
  padding: 12px 22px;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: -9px;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-user:hover path {
  fill: #756257;
}

.navigation-link-user:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-here {
  display: inline-block;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 4px;
  width: 130px;
  text-align: center;
  outline-offset: 0;
}

.navigation-here:hover {
  background-color: #615048;
}

.navigation-here:focus {
  background-color: #615048;
  outline: 3px solid#83B3D3;
}

.navigation-here:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-current {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current::before {
  position: absolute;
  background-color: #756257;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  content: "";
}

.favorit-namber {
  position: absolute;
  width: 19px;
  height: 19px;
  background: #7db550;
  color: #f2f2f2;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7px;
  right: -5px;
}

/* index main */

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.welcome__line {
  width: 1200px;
  height: 57px;
  background-image: url("../images/background-battlement-index.svg");
  background-repeat: no-repeat;
  margin-top: 25px;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
  padding-bottom: 40px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/background-index.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.main-index-title {
  display: inline-block;
  margin: 0 auto;
}

.main-index-description {
  width: 720px;
  font-weight: 700;
  margin-top: 63px;
}

.main-index-advantages {
  font-size: 22px;
  line-height: 36px;
  text-transform: none;
  color: #333333;
  width: 720px;
  margin: 0 0 80px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.advantages-item {
  list-style: none;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-container:nth-child(3) .advantages-description {
  margin-bottom: 21px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.dark-blue-container {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.midle-blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.light-blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #ffffff;
}

.advantages-item-bottom {
  padding-bottom: 22px;
}

.options-logo {
  width: 74px;
  margin: 89px 0 0 0;
}

.options-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: 250px;
  margin: 23px 0 0 0;
}

.options-description {
  width: 250px;
  margin: 20px 0 87px 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 400px;
  margin: 0;
  padding: 97px 0 0 0;
}

.advantages-description-namber {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  padding: 30px 0 0 0;
  margin: 0;
}

.advantages-description {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  min-width: 220px;
  padding: 30px 75px 87px 75px;
  margin: 0;
}

.appointment {
  display: inline-block;
  margin: 0 auto;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 720px;
  margin: 89px 0 0 0;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
  width: 720px;
  margin: 29px 0 0 0;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-transform: uppercase;
  width: 575px;
  margin-top: 56px;
  margin-bottom: 93px;
  padding: 13px 0;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: 3px solid#83B3D3;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* каталог */

.main-inner {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* меню поиска */

.main-search {
  background-color: #83b3d3;
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  padding: 42px 72px 63px 72px;
}

.main-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 42px 0;
  padding: 0;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  background-image: url("../images/icon-arrow-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 13px;
  width: 5px;
  height: 8px;
  top: 10px;
  left: 10px;
  opacity: 30%;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-homepage {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 7px;
}

.breadcrumbs-hotel {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 8px;
  margin-left: 17px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  outline: 3px solid#83B3D3;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-hotel:hover {
  opacity: 60%;
}

.breadcrumbs-hotel:active {
  opacity: 30%;
}

.breadcrumbs-hotel:focus {
  outline: 3px solid#83B3D3;
  border-radius: 4px;
  padding: 3px 8px 3px 8px;
}

.catalog-filter {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.catalog-filter-groop {
  margin: 0 67px 20px 0;
  padding: 0;
  border: none;
}

.catalog-filter-groop:nth-child(2n) {
  margin-right: 168px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 18px;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin: 13px 0 0 0;
}

/* чекбоксы */

.control {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-input:hover ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid#83B3D3;
}

.control-input:active ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
  padding-left: 39px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icon-check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

/* прайс */

.price {
  border: none;
  padding: 0;
  margin: 0 81px 0 0;
}

.price-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 38px 0;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.catalog-filter-label {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
}

.catalog-filter-label:first-child .range-input {
  border-right: 1px solid#ffffff;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:last-child .range-input {
  border-left: 1px solid#ffffff;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label:first-child .range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:last-child .range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:active {
  background-color: #756257;
}

.catalog-filter-label:first-child .range-input:focus {
  box-shadow: inset 0 0 0 2px rgba(129, 179, 210, 1);
  outline: 3px solid #83b3d3;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:last-child .range-input:focus {
  box-shadow: inset 0 0 0 2px rgba(129, 179, 210, 1);
  outline: 3px solid #83b3d3;
  border-radius: 0 4px 4px 0;
}

.range-input {
  border: 2px solid#ffffff;
  color: #ffffff;
  background-color: transparent;
  appearance: textfield;
  width: 71px;
  height: 23px;
  padding: 9px 52px 11px 17px;
  font-size: 18px;
}

.range-input-description {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 23px;
  padding: 10px 13px 13px 0;

  color: rgba(255, 255, 255, 0.3);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* пузомерок */

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid#83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: end;
  margin-bottom: 16px;
}

.button-truth {
  font-family: inherit;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 160px;
  padding: 15px 20px;
  border-radius: 4px;
  margin-bottom: 14px;
}

.button-truth:hover {
  background-color: #68a2ca;
}

.button-truth:focus {
  background-color: #68a2ca;
  outline: 3px solid#ffffff;
}

.button-truth:active {
  background-color: #68a2ca;
  opacity: 30%;
}

.button-false {
  color: #ffffff;
  background: transparent;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border: none;
  width: 160px;
  padding: 4px 20px;
}

.button-false:hover {
  opacity: 60%;
}

.button-false:focus {
  outline: 3px solid#83b3d3;
  border-radius: 4px;
  width: 100px;
  padding: 4px 0;
  align-self: center;
}

.button-false:active {
  opacity: 30%;
}

/* Сортировка */

.sort-container {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 45px 72px 53px 69px;
}

.search-result {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 400px;
  margin: 0 129px 0 0;
  align-self: center;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  width: 287px;
  height: 48px;
  margin-right: 81px;
  align-self: center;
  padding-left: 15px;
  padding-right: 94px;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid#e6e6e6;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid#83B3D3;
}

.select-control:active {
  outline: 2px solid#E6E6E6;
  color: rgba(51, 51, 51, 03);
}

.button-visually {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  margin-left: auto;
}

.button-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid#E6E6E6;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  margin-right: 8px;
}

.button-catalog:hover,
.button-catalog:focus {
  border-color: #83b3d3;
  outline: 1px solid#83b3d3;
}

.button-catalog:nth-child(3n) {
  margin-right: 0;
}

.button-catalog-curent {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid#000000;
  border-radius: 4px;
  width: 46px;
  height: 46px;
}

.button-catalog-curent:hover {
  outline: 2px solid#000000;
}

/* Каталог */

.catalog-container {
  width: 1056px;
  margin: 0 auto;
}

.hotels-list {
  display: flex;
  width: 1056px;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.hotels-list :nth-child(3n) {
  margin-right: 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 0 18px 10px 0;
  width: 340px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  outline-style: none;
}

.hotel-card-images {
  display: block;
  margin: 20px 20px 0 20px;
}

.hotel-card-link:hover .hotel-card-images {
  opacity: 60%;
}

.hotel-card-link:focus .hotel-card-images {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.hotel-card-link:active .hotel-card-images {
  opacity: 30%;
}

.type-housing {
  width: 133px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin: 0;
}

.hotel-card-link :last-child {
  margin-right: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  width: 300px;
  margin: 0;
  margin-left: 20px;
  padding: 16px 0;
}

.stars {
  height: 33px;
  background-image: url("../images/icon-star.svg");
  background-repeat: space;
  background-position: 0 center;
}

.stars-four {
  width: 102px;
}

.stars-three {
  width: 76px;
}

.stars-two {
  width: 51px;
}

.card-options {
  margin: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: 133px 140px;
  gap: 16px 25px;
  grid-template-areas: "type-housing hotel-card-price" "hotel-card-info hotel-card-subscribe" "stars hotel-card-rating";
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-align: left;
  margin: 0;
}

.hotel-card-info {
  display: block;
  width: 133px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  padding: 10px 0;
  border-radius: 4px;
  outline-offset: 0;
}

.hotel-card-info:hover {
  background-color: #615048;
}

.hotel-card-info:focus {
  background-color: #615048;
  outline: 3px solid#83b3d3;
}

.hotel-card-info:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-subscribe {
  display: inline-block;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
  padding: 10px 0;
  box-sizing: border-box;
  outline: 3px solid transparent;
  border-radius: 4px;
  border: none;
  outline-offset: 0;
}

.hotel-card-subscribe:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  border-radius: 4px;
}

.hotel-card-subscribe:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
  border-radius: 4px;
}

.hotel-card-subscribe:active {
  background-color: #68a2ca;
  outline: 1px solid#756257;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-subscribe-current {
  background-color: #7db54f;
  outline-offset: 0;
}

.hotel-card-subscribe-current:hover {
  background-color: #6c9e42;
  outline: 1px solid #756257;
}

.hotel-card-subscribe-current:focus {
  background-color: #6c9e42;
  outline: 3px solid#756257;
}

.hotel-card-subscribe-current:active {
  background-color: #6c9e42;
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.hotel-card-rating {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  padding: 6px 0;
  width: 160px;
  margin: 0;
  justify-self: end;
  grid-area: hotel-card-rating;
}

.button-frame {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0 29px 0;
}

.button-show-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #83b3d3;
  padding: 20px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68a2ca;
}

.button-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
}

.button-show-more:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/* Пагинация */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1056px;
  height: 55px;
  margin: 0 auto;
  padding: 28px 0 0 0;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  margin-right: auto;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #83b3d3;
  display: block;
  box-sizing: border-box;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  outline-offset: 0;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
}

.pagination-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
}

.filter-amount {
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: solid 2px #e6e6e6;
  border-radius: 4px;
  width: 160px;
  height: 44px;
  padding: 5px 100px 5px 14px;
  align-self: center;
  font-size: 18px;
}

.filter-amount:hover,
.filter-amount:focus {
  outline: 2px solid#83B3D3;
}

.filter-amount:active {
  outline: 2px solid#E6E6E6;
  color: rgba(51, 51, 51, 03);
}

.filter-amount-description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  align-self: center;
  width: 175px;
  margin-right: 51px;
}

/* Подписка */

.subscribe-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background-footer.jpg");
  background-repeat: no-repeat;
}

.subscribe-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 91px 0 0 0;
}

.subscribe-index-description {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin: 29px 0 0 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 73px 0 0 0;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 46px 0 0 0;
  font-weight: 400;
}

.newsletter-container {
  display: flex;
  margin: 46px 0 141px 0;
}

.newsletter-index-container {
  display: flex;
  margin: 46px 0 93px 0;
}

.field {
  font-family: inherit;
  flex-grow: 1;
  width: 578px;
  height: 60px;
  background-color: #f2f2f2;
  border: none;
  padding: 0 0 0 22px;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

input:focus:invalid {
  background-color: #ffffff;
  outline: 3px solid#FF5757;
}

.newsletter-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  border: none;
  font-family: "PT Sans", sans-serif;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.newsletter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/* Футер */

.page-footer {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0 42px 0;
}

.footer-social {
  width: 350px;
  margin-left: 62px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  padding-right: 12px;
}

.button-social {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-social:active path {
  fill: #68a2ca;
}

.button-social:hover path {
  fill: #68a2ca;
}

.button-social:focus {
  fill: #68a2ca;
  outline: 3px solid #68a2ca;
}

.footer-contacts-phone {
  width: 450px;
}

.contacts-phone {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  border-radius: 10px;
  padding: 0 15px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  outline: 3px solid#83B3D3;
}

.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-made-in {
  width: 350px;
  margin-right: 62px;
  text-align: right;
}

.button-made-in {
  padding: 10px;
  outline: none;
}

.footer-made-in .button-made-in:focus {
  outline: 3px solid#83B3D3;
  border-radius: 10px;
}

.button-made-in:focus svg {
  fill: #756257;
}

.button-made-in:hover svg {
  fill: #756257;
}

.button-made-in:active svg {
  fill: rgba(117, 98, 87, 0.3);
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-auth {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icon-close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid#83B3D3;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  height: 67px;
}

.modal-description {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  width: 155px;
  align-self: center;
}

.field-group {
  position: relative;
  display: grid;
  grid-template-columns: 155px 420px;
  grid-template-rows: 50px 29px;
  margin: 0 0 11px 0;
}

.auth-form-field {
  border-radius: 4px;
  width: 401px;
  height: 50px;
  appearance: textfield;
  padding: 0 0 0 19px;
  font-size: 18px;
  line-height: 40px;
  font-family: "PT Sans", sans-serif;
}

.calendar {
  position: absolute;
  top: 18px;
  right: 17px;
  width: 15px;
  height: 15px;
  border: none;
  padding: 0;
  background-image: url("../images/icon-date.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.auth-form-container {
  display: flex;
}

.auth-form-number {
  width: 133px;
  height: 50px;
  padding: 0;
  text-align: center;
  appearance: textfield;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
}

.auth-form-number:focus {
  outline: none;
}

.button-less {
  top: 13px;
  left: 174px;
  position: absolute;
  background-image: url("../images/icon-minys.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  opacity: 30%;
}

.button-less:focus,
.button-more:focus {
  outline: 3px solid#83B3D3;
  opacity: 100%;
}

.button-less:hover,
.button-more:hover {
  opacity: 100%;
}

.button-more {
  top: 13px;
  right: 19px;
  position: absolute;
  background-image: url("../images/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  opacity: 30%;
}

.validation-error {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 29px;
  color: #ff5757;
  font-weight: 400;
}

.validation-sucsess {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  font-weight: 400;
}

/* Chrome/Opera/Safari */

.auth-form-field::-webkit-input-placeholder,
.auth-form-number::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
}

/* Firefox 19+ */

.auth-form-field::-moz-placeholder,
.auth-form-number::-moz-placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 100%;
}

/* IE 10+ */

.auth-form-field:-ms-input-placeholder,
.auth-form-number:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
}

.auth-form-number::-webkit-outer-spin-button,
.auth-form-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-options-container {
  display: flex;
  margin: 0 0 40px 0;
}

.field-group-number {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.field-group-number:last-child .modal-description {
  width: 54px;
  margin-left: 56px;
}

.tooltip-toggle {
  display: block;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  margin-right: 18px;
  background-image: url("../images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.tooltip-text {
  position: absolute;
  top: 54px;
  right: 36px;
  padding: 20px 18px 23px 22px;
  min-width: 216px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-text::after {
  content: '';
  background-image: url("../images/icon-tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83b3d3;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
}

.modal-search-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-container-close {
  display: none;
}
