@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

/* Root */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  width: 139px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 0 0 169px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-user {
  position: relative;
  padding: 12px 24px;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-user:hover path {
  fill: #756257;
}

.navigation-link-user:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-here {
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 9px 15px;
  border-radius: 4px;
  min-width: 160px;
  text-align: center;
  outline-offset: 0;
}

.navigation-here:hover {
  background-color: #615048;
}

.navigation-here:focus {
  background-color: #615048;
  outline: 3px solid#83B3D3;
}

.navigation-here:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-current {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current::before {
  position: absolute;
  background-color: #756257;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  content: "";
}

.favorit-namber {
  position: absolute;
  width: 19px;
  height: 19px;
  background: #7db550;
  color: #f2f2f2;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 4px;
}

/* index main */

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.welcome__line {
  width: 1200px;
  height: 57px;
  background-image: url("../images/background-battlement-index.svg");
  background-repeat: no-repeat;
  margin-top: 25px;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
  padding-bottom: 40px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/background-index.jpg");
  background-repeat: no-repeat;
}

.main-index-title {
  display: inline-block;
  margin: 0 auto;
}

.main-index-description {
  width: 720px;
  font-weight: 700;
  margin-top: 63px;
}

.main-index-advantages {
  font-size: 22px;
  line-height: 36px;
  text-transform: none;
  color: #333333;
  width: 720px;
  margin: 0 0 80px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.advantages-item {
  list-style: none;
}

.advantages-container {
  display: flex;
}

.advantages-container:nth-child(3) .advantages-description {
  margin-bottom: 21px;
}

.options-container {
  display: flex;
  width: 1200px;
}

.dark-blue-container {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.midle-blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.light-blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #ffffff;
}

.options-logo {
  width: 74px;
  margin: 85px 0 0 0;
}

.options-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: 250px;
  margin: 23px 0 0 0;
}

.options-description {
  width: 250px;
  margin: 20px 0 79px 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 400px;
  margin: 0;
  padding: 97px 0 0 0;
}

.advantages-description-namber {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  padding: 30px 0 0 0;
  margin: 0;
}

.advantages-description {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  min-width: 220px;
  padding: 30px 75px 87px 75px;
  margin: 0;
}

.appointment {
  display: inline-block;
  margin: 0 auto;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 720px;
  margin: 91px 0 0 0;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
  width: 720px;
  margin: 29px 0 0 0;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-transform: uppercase;
  width: 575px;
  margin-top: 56px;
  margin-bottom: 93px;
  padding: 15px 0;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: 3px solid#83B3D3;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* каталог */

.main-inner {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* меню поиска */

.main-search {
  background-color: solid#83B3D3;
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  padding: 35px 72px 83px 72px;
}

.main-header-title {
  width: 528px;

  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  padding: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-homepage {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 14px;
  box-sizing: border-box;
}

.breadcrumbs-homepage:hover {
  opacity: 60%;
}

.breadcrumbs-homepage:focus {
  outline: 3px solid#83B3D3;
  border-radius: 4px;
}

.breadcrumbs-homepage:active {
  opacity: 30%;
}

.breadcrumbs-arrow {
  background-image: url("../images/icon-arrow-catalog.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 15px;
}

.breadcrumbs-hotel {
  padding-left: 10px;
  cursor: pointer;
}

.breadcrumbs-hotel:hover {
  opacity: 60%;
}

.breadcrumbs-hotel:active {
  opacity: 30%;
}

.breadcrumbs-hotel:focus {
  outline: 3px solid#83B3D3;
  border-radius: 4px;
  padding: 3px 8px 3px 8px;
}

.catalog-filter {
  display: flex;
  align-self: center;
  position: relative;
}

.catalog-filter-groop {
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin: 45px 0 30px 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  padding: 15px 0 0 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-input {
  margin: 0 19px 0 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
}

.button-truth {
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border: none;
  width: 160px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  margin-bottom: 16px;
}

.button-truth:hover {
  background-color: #68a2ca;
}

.button-truth:focus {
  background-color: #68a2ca;
  outline: 3px solid#ffffff;
}

.button-truth:active {
  background-color: #68a2ca;
  opacity: 30%;
}

.button-false {
  color: #ffffff;
  background: transparent;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border: none;
  width: 160px;
  height: 23px;
  padding: 4px 0;
}

.button-false:hover {
  opacity: 60%;
}

.button-false:focus {
  outline: 3px solid#83b3d3;
  border-radius: 4px;
  width: 100px;
  padding: 4px 0;
  align-self: center;
}

.button-false:active {
  opacity: 30%;
}

/* Сортировка */

.sort-container {
  display: flex;
  width: 1057px;
  margin: 41px 72px 53px 72px;
}

.search-result {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 400px;
  height: 39px;
  margin: 0 129px 0 0;
  align-self: center;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  width: 287px;
  height: 48px;
  margin-right: 81px;
  align-self: center;
  padding-left: 19px;
  padding-right: 94px;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid#e6e6e6;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid#83B3D3;
  border: none;
}

.select-control:active {
  outline: 2px solid#E6E6E6;
  color: rgba(51, 51, 51, 03);
}

.button-visually {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-left: auto;
}

.button-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid#E6E6E6;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-catalog:hover,
.button-catalog:focus {
  border-color: #83b3d3;
  outline: 1px solid#83b3d3;
}

.button-catalog:nth-child(3n) {
  margin-right: 0;
}

.button-catalog-curent {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid#000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.button-catalog-curent:hover {
  outline: 2px solid#000000;
}

/* Каталог */

.catalog-container {
  width: 1056px;
  margin: 0 auto;
}

.hotels-list {
  display: flex;
  width: 1056px;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.hotels-list :nth-child(3n) {
  margin-right: 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 0 18px 10px 0;
  width: 340px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-images {
  display: block;
  margin: 20px 20px 0 20px;
}

.hotel-card-images:hover {
  opacity: 60%;
}

.hotel-card-images:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.hotel-card-images:active {
  opacity: 30%;
}

.type-housing {
  width: 133px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin: 0;
}

.hotel-card-link :last-child {
  margin-right: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  width: 300px;
  margin: 0;
  margin-left: 20px;
  padding: 16px 0;
}

.stars {
  height: 33px;
  background-image: url("../images/icon-star.svg");
  background-repeat: space;
  background-position: 0 center;
}

.stars-four {
  width: 100px;
}

.stars-three {
  width: 75px;
}

.stars-two {
  width: 50px;
}

.card-options {
  margin: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: 133px 140px;
  gap: 16px 25px;
  grid-template-areas: "type-housing hotel-card-price" "hotel-card-info hotel-card-subscribe" "stars hotel-card-rating";
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-align: left;
  margin: 0;
}

.hotel-card-info {
  display: block;
  width: 133px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  padding: 10px 0;
  border-radius: 4px;
}

.hotel-card-info:hover {
  background-color: #615048;
}

.hotel-card-info:focus {
  background-color: #615048;
  outline: 3px solid#83b3d3;
}

.hotel-card-info:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-subscribe {
  display: inline-block;
  width: 140px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
  padding: 10px 0;
  box-sizing: border-box;
  outline: 3px solid transparent;
  border-radius: 4px;
  border: none;
}

.hotel-card-subscribe:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  border-radius: 4px;
}

.hotel-card-subscribe:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
  border-radius: 4px;
}

.hotel-card-subscribe:active {
  background-color: #68a2ca;
  outline: 1px solid#756257;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-subscribe-current {
  background-color: #7db54f;
}

.hotel-card-subscribe-current:hover {
  background-color: #6c9e42;
  outline: 1px solid #756257;
}

.hotel-card-subscribe-current:focus {
  background-color: #6c9e42;
  outline: 3px solid#756257;
}

.hotel-card-subscribe-current:active {
  background-color: #6c9e42;
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.hotel-card-rating {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  padding: 10px 0;
  width: 160px;
  margin: 0;
  justify-self: end;
  grid-area: hotel-card-rating;
}

.button-frame {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0 29px 0;
}

.button-show-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #83b3d3;
  padding: 17px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68a2ca;
}

.button-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
}

.button-show-more:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/* Пагинация */

.pagination-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  margin-right: 300px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #83b3d3;
  display: block;
  box-sizing: border-box;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid#756257;
}

.pagination-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
}

.filter-amount {
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: solid 2px #e6e6e6;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  padding: 13px 100px 12px 17px;
  align-self: center;
  margin-left: auto;
}

.filter-amount:hover,
.filter-amount:focus {
  outline: 2px solid#83B3D3;
  border: none;
}

.filter-amount:active {
  outline: 2px solid#E6E6E6;
  color: rgba(51, 51, 51, 03);
}

.filter-amount-description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  align-self: center;
  width: 175px;
  margin-right: 51px;
}

/* Подписка */

.subscribe-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background-footer.jpg");
  background-repeat: no-repeat;
}

.subscribe-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 94px 0 0 0;
}

.subscribe-index-description {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin: 29px 0 0 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin-top: 73px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin-top: 46px;
  font-weight: 400;
}

.newsletter-container {
  display: flex;
  margin: 46px 0 93px 0;
}

.field {
  flex-grow: 1;
  width: 550px;
  height: 60px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 2px solid #83b3d3;
}

input:invalid {
  background-color: #ffffff;
  outline: 3px solid#FF5757;
}

.newsletter-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  border: none;
  font-family: "PT Sans", sans-serif;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.newsletter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/* Футер */

.page-footer {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 350px;
  margin-left: 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.footer-social-item {
  padding-right: 30px;
}

.button-social:active path {
  fill: #68a2ca;
}

.button-social:hover path {
  fill: #68a2ca;
}

.button-social:focus {
  fill: #68a2ca;
  outline: 3px solid #68a2ca;
  border-radius: 10px;
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer-contacts {
  width: 450px;
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  outline: 3px solid#83B3D3;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-made-in {
  width: 350px;
  margin-right: 72px;
  text-align: right;
}

.button-made-in {
  padding: 10px;
}

.footer-made-in .button-made-in:focus {
  fill: #756257;
  outline: 3px solid#83B3D3;
  border-radius: 10px;
}

.footer-made-in .button-made-in:hover path {
  fill: #756257;
}

.footer-made-in .button-made-in:active path {
  fill: rgba(117, 98, 87, 0.3);
}

